:root { 
    /* colors */
    --bs-body-color: #505050;

    --bs-primary: #e05986;
    --bs-primary-rgb: 224, 89, 134;

    --bs-secondary: #f185a9;
    --bs-secondary-rgb: 241, 133, 169;

    --bs-link-color: var(--bs-primary);
    --bs-link-color-rgb: var(--bs-primary-rgb);
    --bs-link-hover-color: var(--bs-secondary);
    --bs-link-hover-color-rgb: var(--bs-secondary-rgb);
    --bs-link-decoration: none;
    

    /* fonts */
    --bs-font-sans-serif: 'Raleway', sans-serif; 
}

.header {
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
}



/* IMAGES */
.cats {
    height: 200px;
    width: 100%;
}
.img-text-container {
    position: relative;
    height: 100%;
}
.img-fluid {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.img-text {
    text-align: center;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}