:root { 
    /* colors */
    --bs-body-color: #505050;

    --bs-primary: #e05986;
    --bs-primary-rgb: 224, 89, 134;

    --bs-secondary: #f185a9;
    --bs-secondary-rgb: 241, 133, 169;

    --bs-link-color: var(--bs-primary);
    --bs-link-color-rgb: var(--bs-primary-rgb);
    --bs-link-hover-color: var(--bs-secondary);
    --bs-link-hover-color-rgb: var(--bs-secondary-rgb);
    --bs-link-decoration: none;
    

    /* fonts */
    --bs-font-sans-serif: 'Raleway', sans-serif; 
}

.header {
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
}



/* media query */
/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { ... }

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) { ... }

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { ... }

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) { ... }